.item-slick1 {
    background-image: url(../public/images/slide-01.jpg)
}
  .card {
    transition: all 0.5s ease;
    transition: scale 0.5s ease, padding 0.8s linear;
    box-shadow: 8px 8px 8px 8px rgba(0, 0, 0, 0.3);
    max-width: 500px;
    margin: 50px auto;
    text-align: center;
    font-family: arial;
  }
  
  .title {
    color: grey;
    font-size: 18px;
  }
  
  a {
    text-decoration: none;
    font-size: 22px;
    color: black;
  }
  .card:hover {
    scale: 1.05;
  }